<div class="backdrop modal-auth js-login">
  <div class="modal-container modal-auth-container">
    <div class="modal-auth-dialog login">
      <button class="modal-close-btn login-close">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
      <h2 class="modal-auth-title">Sign in</h2>
      <form class="modal-auth-form">
        <div class="modal-auth-element">
          <i class="fa-solid fa-user"></i>
          <input
            type="email"
            class="modal-auth-input"
            placeholder="Email"
            required
          />
        </div>
        <div class="modal-auth-element">
          <i class="fa-solid fa-lock"></i>
          <input
            type="password"
            class="modal-auth-input password-input"
            placeholder="Password"
            required
          />
          <i class="fa-regular js-show-pass fa-eye"></i>
        </div>
        <button class="btn modal-auth-submit login">Login</button>
      </form>
      <p class="modal-auth-hint"></p>
    </div>
  </div>
</div>
