<div class="header-mobile">
  <button type="button" class="header-mobile-close">
    <i class="fa-solid fa-circle-xmark"></i>
  </button>
  <ul class="header-mobile-list">
    <li class="header-mobile-item">
      <a href="./index.html" class="header-mobile-link">Home</a>
    </li>
    <li class="header-mobile-item">
      <a href="#destination" class="header-mobile-link">Discover</a>
    </li>
    <li class="header-mobile-item">
      <a href="#features" class="header-mobile-link">Special Deals</a>
    </li>
    <li class="header-mobile-item">
      <a href="#join" class="header-mobile-link">Contact</a>
    </li>
  </ul>
  <ul class="header-mobile-auth">
    <li class="header-mobile-button">
      <button type="button" class="header-mobile-auth-login js-login-open">
        Log In
      </button>
    </li>
    <li class="header-mobile-button">
      <button type="button" class="btn header-mobile-auth-reg js-reg-open">
        Sign Up
      </button>
    </li>
  </ul>
</div>
