<div class="header-mobile">
  <button type="button" class="header-mobile-close">
    <i class="fa-solid fa-circle-xmark"></i>
  </button>
  <ul class="header-mobile-list">
    <li class="header-mobile-item">
      <a href="#!" class="header-mobile-link">Home</a>
    </li>
    <li class="header-mobile-item">
      <a href="#!" class="header-mobile-link">Discover</a>
    </li>
    <li class="header-mobile-item">
      <a href="#!" class="header-mobile-link">Special Deals</a>
    </li>
    <li class="header-mobile-item">
      <a href="#!" class="header-mobile-link">Contact</a>
    </li>
  </ul>
  <div class="header-mobile-auth">
    <button type="button" class="header-mobile-auth-login">Log In</button>
    <button type="button" class="btn header-mobile-auth-reg">Sign Up</button>
  </div>
</div>
