<section class="dest">
  <div class="container dest-container">
    <div class="dest-swiper swiper">
      <div class="dest-top">
        <div class="dest-top-content">
          <p class="tag dest-tag">Top Destination</p>
          <h2 class="title dest-title">Explore top destination</h2>
        </div>
        <div class="dest-top-navigation">
          <button class="dest-prev">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <button class="dest-next">
            <i class="fa-solid fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <ul class="dest-list swiper-wrapper">
        <li class="dest-item swiper-slide">
          <img
            srcset="./img/dest-1.jpg 1x, ./img/dest-1-2x.jpg 2x"
            src="./img/dest-1.jpg"
            alt="Image"
            class="dest-item-img"
          />
          <div class="dest-item-content">
            <p class="dest-item-price">$550.16</p>
            <h3 class="dest-item-title">Paradise Beach, Bantayan Island</h3>
            <p class="dest-item-descr">Rome, Italy</p>
            <p class="dest-item-rate">
              4.8
              <i class="fa-solid fa-star"></i>
            </p>
          </div>
        </li>
        <li class="dest-item swiper-slide">
          <img
            srcset="./img/dest-2.jpg 1x, ./img/dest-2-2x.jpg 2x"
            src="./img/dest-2.jpg"
            alt="Image"
            class="dest-item-img"
          />
          <div class="dest-item-content">
            <p class="dest-item-price">$20.99</p>
            <h3 class="dest-item-title">Ocean with full of Colors</h3>
            <p class="dest-item-descr">Maldives</p>
            <p class="dest-item-rate">
              4.5
              <i class="fa-solid fa-star"></i>
            </p>
          </div>
        </li>
        <li class="dest-item swiper-slide">
          <img
            srcset="./img/dest-3.jpg 1x, ./img/dest-3-2x.jpg 2x"
            src="./img/dest-3.jpg"
            alt="Image"
            class="dest-item-img"
          />
          <div class="dest-item-content">
            <p class="dest-item-price">$150.99</p>
            <h3 class="dest-item-title">Mountain View, Above the cloud</h3>
            <p class="dest-item-descr">United Arab Emeries</p>
            <p class="dest-item-rate">
              5.0
              <i class="fa-solid fa-star"></i>
            </p>
          </div>
        </li>
        <li class="dest-item swiper-slide">
          <img
            srcset="./img/dest-1.jpg 1x, ./img/dest-1-2x.jpg 2x"
            src="./img/dest-1.jpg"
            alt="Image"
            class="dest-item-img"
          />
          <div class="dest-item-content">
            <p class="dest-item-price">$550.16</p>
            <h3 class="dest-item-title">Paradise Beach, Bantayan Island</h3>
            <p class="dest-item-descr">Rome, Italy</p>
            <p class="dest-item-rate">
              4.8
              <i class="fa-solid fa-star"></i>
            </p>
          </div>
        </li>
        <li class="dest-item swiper-slide">
          <img
            srcset="./img/dest-2.jpg 1x, ./img/dest-2-2x.jpg 2x"
            src="./img/dest-2.jpg"
            alt="Image"
            class="dest-item-img"
          />
          <div class="dest-item-content">
            <p class="dest-item-price">$20.99</p>
            <h3 class="dest-item-title">Ocean with full of Colors</h3>
            <p class="dest-item-descr">Maldives</p>
            <p class="dest-item-rate">
              4.5
              <i class="fa-solid fa-star"></i>
            </p>
          </div>
        </li>
        <li class="dest-item swiper-slide">
          <img
            srcset="./img/dest-3.jpg 1x, ./img/dest-3-2x.jpg 2x"
            src="./img/dest-3.jpg"
            alt="Image"
            class="dest-item-img"
          />
          <div class="dest-item-content">
            <p class="dest-item-price">$150.99</p>
            <h3 class="dest-item-title">Mountain View, Above the cloud</h3>
            <p class="dest-item-descr">United Arab Emeries</p>
            <p class="dest-item-rate">
              5.0
              <i class="fa-solid fa-star"></i>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
