<section class="features">
  <div class="container features-container">
    <img
      srcset="./img/key.png 1x, ./img/key-2x.png 2x"
      src="./img/key.png"
      alt="Image"
      class="features-img"
    />
    <div class="features-content">
      <p class="tag features-tag">Key features</p>
      <h2 class="title features-title">We offer best services</h2>
      <p class="features-descr">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC.
      </p>
      <ul class="features-list">
        <li class="features-item">
          <span class="features-item-icon orange">
            <i class="fa-solid fa-calendar-days"></i>
          </span>
          <div class="features-item-content">
            <h3 class="features-item-title">We offer best services</h3>
            <p class="features-item-descr">
              Lorem Ipsum is not simply random text
            </p>
          </div>
        </li>
        <li class="features-item">
          <span class="features-item-icon yellow">
            <i class="fa-solid fa-location-dot"></i>
          </span>
          <div class="features-item-content">
            <h3 class="features-item-title">Schedule your trip</h3>
            <p class="features-item-descr">
              It has roots in a piece of classical
            </p>
          </div>
        </li>
        <li class="features-item">
          <span class="features-item-icon pink">
            <i class="fa-solid fa-ticket"></i>
          </span>
          <div class="features-item-content">
            <h3 class="features-item-title">Get discounted coupons</h3>
            <p class="features-item-descr">
              Lorem Ipsum is not simply random text
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
