<footer class="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <a href="#!" class="footer-logo">
        <img
          srcset="./img/logo.png 1x, ./img/logo-2x.png 2x"
          src="./img/logo.png"
          alt="Logotype"
        />
      </a>
      <p class="footer-descr">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC.
      </p>
      <ul class="footer-social">
        <li class="footer-social-item">
          <a href="#!" class="btn footer-social-link">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#!" class="btn footer-social-link">
            <i class="fa-brands fa-x-twitter"></i>
          </a>
        </li>
        <li class="footer-social-item">
          <a href="#!" class="btn footer-social-link">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <ul class="footer-list">
      <li class="footer-item">
        <h3 class="footer-item-title">
          Company
          <i class="fa-solid fa-chevron-down"></i>
        </h3>
        <ul class="footer-item-list">
          <li class="footer-item-list-element">
            <a href="#!" class="footer-item-list-link">About</a>
          </li>
          <li class="footer-item-list-element">
            <a href="#!" class="footer-item-list-link">Career</a>
          </li>
          <li class="footer-item-list-element">
            <a href="#!" class="footer-item-list-link">Mobile</a>
          </li>
        </ul>
      </li>
      <li class="footer-item">
        <h3 class="footer-item-title">
          Contact
          <i class="fa-solid fa-chevron-down"></i>
        </h3>
        <ul class="footer-item-list">
          <li class="footer-item-list-element">
            <a href="#!" class="footer-item-list-link">Why Travlog?</a>
          </li>
          <li class="footer-item-list-element">
            <a href="#!" class="footer-item-list-link">Partner with us</a>
          </li>
          <li class="footer-item-list-element">
            <a href="#!" class="footer-item-list-link">FAQ’s</a>
          </li>
          <li class="footer-item-list-element">
            <a href="#!" class="footer-item-list-link">Blog</a>
          </li>
        </ul>
      </li>
      <li class="footer-item">
        <h3 class="footer-item-title">
          Meet Us
          <i class="fa-solid fa-chevron-down"></i>
        </h3>
        <ul class="footer-item-list">
          <li class="footer-item-list-element">
            <a href="tel: 0092123456789" class="footer-item-list-link"
              >+00 92 1234 56789</a
            >
          </li>
          <li class="footer-item-list-element">
            <a href="mailto: info@travlog.com" class="footer-item-list-link"
              >info@travlog.com</a
            >
          </li>
          <li class="footer-item-list-element">
            <a href="#!" class="footer-item-list-link"
              >205. R Street, New York <br />BD23200</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
