<header class="header">
  <div class="container header-container">
    <a href="#!" class="header-logo">
      <img
        srcset="./img/logo.png 1x, ./img/logo-2x.png 2x"
        src="./img/logo.png"
        alt="Logotype"
      />
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="./index.html" class="header-nav-link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="#destination" class="header-nav-link">Discover</a>
        </li>
        <li class="header-nav-item">
          <a href="#features" class="header-nav-link">Special Deals</a>
        </li>
        <li class="header-nav-item">
          <a href="#join" class="header-nav-link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header-auth">
      <button type="button" class="header-auth-login">Log In</button>
      <button type="button" class="btn header-auth-reg">Sign Up</button>
    </div>
    <button type="button" class="btn header-mobile-open">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
</header>
