<section class="hero">
  <div class="container hero-container">
    <div class="hero-img-container">
      <img
        srcset="./img/hero.png 1x, ./img/hero-2x.png 2x"
        src="./img/hero.png"
        alt="Photos"
        class="hero-img"
      />
      <span class="hero-img-el send">
        <i class="fa-solid fa-paper-plane"></i>
      </span>
      <span class="hero-img-el people">
        <i class="fa-solid fa-user-plus"></i>
      </span>
      <span class="hero-img-el places">
        <i class="fa-solid fa-location-dot"></i>
        Top places
      </span>
    </div>
    <div class="hero-content">
      <p class="hero-content-tag">
        Explore the world!
        <i class="fa-solid fa-briefcase"></i>
      </p>
      <h1 class="hero-content-title">
        Travel <span>top destination</span> of the world
      </h1>
      <p class="hero-content-descr">
        We always make our customer happy by providing as many choices as
        possible
      </p>
      <div class="hero-content-btns">
        <a href="#join" class="btn hero-content-btn js-hero-btn">
          Get Started
        </a>
        <button type="button" class="hero-content-video-btn js-hero-btn">
          <i class="fa-solid fa-circle-play"></i>
          Watch Demo
        </button>
      </div>
    </div>
    <svg class="hero-arrows" width="70" height="180">
      <use href="./img/icons.svg#icon-arrows"></use>
    </svg>
  </div>
</section>
