<section class="hero">
  <div class="container hero-container">
    <img
      srcset="./img/hero.png 1x, ./img/hero-2x.png 2x"
      src="./img/hero.png"
      alt="Photos"
      class="hero-img"
    />
    <div class="hero-content">
      <p class="hero-content-tag">
        Explore the world!
        <i class="fa-solid fa-briefcase"></i>
      </p>
      <h1 class="hero-content-title">
        Travel <span>top destination</span> of the world
      </h1>
      <p class="hero-content-descr">
        We always make our customer happy by providing as many choices as
        possible
      </p>
      <div class="hero-content-btns">
        <button type="button" class="btn hero-content-btn">Get Started</button>
        <button type="button" class="hero-content-video-btn">
          <i class="fa-solid fa-circle-play"></i>
          Watch Demo
        </button>
      </div>
    </div>
  </div>
</section>
