<section class="join">
  <div class="container join-container">
    <div class="join-content">
      <p class="tag join-tag">subscribe to our newsletter</p>
      <h2 class="title join-title">
        Prepare yourself & let’s explore the beauty of the world
      </h2>
      <form class="join-form">
        <div class="join-form-element">
          <i class="fa-solid fa-envelope"></i>
          <input
            type="email"
            class="join-form-input"
            placeholder="Your Email"
          />
        </div>
        <button class="btn join-form-submit">Subscribe</button>
      </form>
    </div>
  </div>
</section>
