<section class="services">
  <div class="container services-container">
    <div class="services-top">
      <p class="tag services-tag">Services</p>
      <h2 class="title services-title">Our top value categories for you</h2>
    </div>
    <div class="services-list-container swiper">
      <ul class="services-list swiper-wrapper">
        <li class="services-item swiper-slide">
          <img
            srcset="./img/serv-1.png 1x, ./img/serv-1-2x.png 2x"
            src="./img/serv-1.png"
            alt="Icon"
            class="services-item-img"
          />
          <h3 class="services-item-title">Best Tour Guide</h3>
          <p class="services-item-descr">
            What looked like a small patch of purple grass, above five feet.
          </p>
        </li>
        <li class="services-item swiper-slide">
          <img
            srcset="./img/serv-2.png 1x, ./img/serv-2-2x.png 2x"
            src="./img/serv-2.png"
            alt="Icon"
            class="services-item-img"
          />
          <h3 class="services-item-title">Easy Booking</h3>
          <p class="services-item-descr">
            Square, was moving across the sand in their direction.
          </p>
        </li>
        <li class="services-item swiper-slide">
          <img
            srcset="./img/serv-3.png 1x, ./img/serv-3-2x.png 2x"
            src="./img/serv-3.png"
            alt="Icon"
            class="services-item-img"
          />
          <h3 class="services-item-title">Weather Forecast</h3>
          <p class="services-item-descr">
            What looked like a small patch of purple grass, above five feet.
          </p>
        </li>
        <li class="services-item swiper-slide">
          <img
            srcset="./img/serv-1.png 1x, ./img/serv-1-2x.png 2x"
            src="./img/serv-1.png"
            alt="Icon"
            class="services-item-img"
          />
          <h3 class="services-item-title">Best Tour Guide</h3>
          <p class="services-item-descr">
            What looked like a small patch of purple grass, above five feet.
          </p>
        </li>
        <li class="services-item swiper-slide">
          <img
            srcset="./img/serv-2.png 1x, ./img/serv-2-2x.png 2x"
            src="./img/serv-2.png"
            alt="Icon"
            class="services-item-img"
          />
          <h3 class="services-item-title">Easy Booking</h3>
          <p class="services-item-descr">
            Square, was moving across the sand in their direction.
          </p>
        </li>
        <li class="services-item swiper-slide">
          <img
            srcset="./img/serv-3.png 1x, ./img/serv-3-2x.png 2x"
            src="./img/serv-3.png"
            alt="Icon"
            class="services-item-img"
          />
          <h3 class="services-item-title">Weather Forecast</h3>
          <p class="services-item-descr">
            What looked like a small patch of purple grass, above five feet.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
