<section class="testimonials">
  <div class="container testimonials-container">
    <div class="testimonials-swiper-container swiper">
      <p class="tag testimonials-tag">Testimonials</p>
      <h2 class="title testimonials-title">Trust our clients</h2>
      <ul class="testimonials-list swiper-wrapper">
        <li class="testimonials-user swiper-slide">
          <img src="./img/user.png" alt="User" class="testimonials-user-img" />
          <div class="testimonials-user-info">
            <p class="testimonials-user-name">John Snow</p>
            <p class="testimonials-user-position">/ Travel Enthusiast</p>
          </div>
          <div class="testimonials-user-rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="testimonials-user-text">
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC.
          </p>
        </li>
        <li class="testimonials-user swiper-slide">
          <img src="./img/user.png" alt="User" class="testimonials-user-img" />
          <div class="testimonials-user-info">
            <p class="testimonials-user-name">Bart Gibson</p>
            <p class="testimonials-user-position">/ Travel Enthusiast</p>
          </div>
          <div class="testimonials-user-rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="testimonials-user-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
            eveniet at, ratione ad, error natus quod libero iste hic
            exercitationem mollitia velit enim dolorem, ex dolor architecto
            voluptatibus esse dicta!
          </p>
        </li>
        <li class="testimonials-user swiper-slide">
          <img src="./img/user.png" alt="User" class="testimonials-user-img" />
          <div class="testimonials-user-info">
            <p class="testimonials-user-name">Mark Smith</p>
            <p class="testimonials-user-position">/ Travel Enthusiast</p>
          </div>
          <div class="testimonials-user-rate">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="testimonials-user-text">
            Contrary to popular belief, Lorem Ipsum is not simply random text.
            It has roots in a piece of classical Latin literature from 45 BC.
          </p>
        </li>
      </ul>
      <div class="testimonials-pagination swiper-pagination"></div>
      <div class="testimonials-navigation">
        <button class="testimonials-navigation-btn testimonials-prev-btn">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        <button class="testimonials-navigation-btn testimonials-next-btn">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</section>
