<section class="travel">
  <div class="container travel-container">
    <img
      srcset="./img/travel.png 1x, ./img/travel-2x.png 2x"
      src="./img/travel.png"
      alt="Travel Image"
      class="travel-img"
    />
    <div class="travel-content">
      <p class="tag travel-tag">Travel Point</p>
      <h2 class="title travel-title">
        We helping you find your dream location
      </h2>
      <p class="travel-descr">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It
        has roots in a piece of classical Latin literature from 45 BC.
      </p>
      <ul class="travel-list">
        <li class="travel-item">
          <p class="travel-item-stat">500+</p>
          <p class="travel-item-descr">Holiday Package</p>
        </li>
        <li class="travel-item">
          <p class="travel-item-stat">100</p>
          <p class="travel-item-descr">Luxury Hotel</p>
        </li>
        <li class="travel-item">
          <p class="travel-item-stat">7</p>
          <p class="travel-item-descr">Premium Airlines</p>
        </li>
        <li class="travel-item">
          <p class="travel-item-stat">2k+</p>
          <p class="travel-item-descr">Happy Customer</p>
        </li>
      </ul>
    </div>
  </div>
</section>
