.hero {
  padding-top: 32px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
  }
}

.hero-container {
  position: relative;
  @media screen and (min-width: 1170px) {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    gap: 50px;
  }
}

.hero-content {
  text-align: center;
  @media screen and (min-width: 1170px) {
    text-align: left;
    order: -1;
  }
}

.hero-img-container {
  position: relative;
  margin-bottom: 64px;

  & img {
    width: 100%;
  }

  @media screen and (min-width: 1170px) {
    width: 60%;
    flex-shrink: 0;
  }
}

.hero-img-el {
  pointer-events: none;
  user-select: none;
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--light-color);
  z-index: 10;
  transition: transform 1s ease-in-out; /* Плавний перехід */

  @media screen and (min-width: 768px) {
    width: 64px;
    height: 64px;
  }

  &.send {
    top: 50%;
    left: 0;
    background-color: var(--pink-color);
  }

  &.people {
    bottom: -10px;
    left: 70%;
    background-color: var(--orange-color);
  }

  &.places {
    font-size: 7px;
    line-height: 1.2;
    top: 50%;
    right: 0;
    border-radius: 50px;
    width: 85px;
    background-color: var(--light-color);
    color: var(--dark-color);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 5px 11px 0 rgba(0, 0, 0, 0.1),
      0 20px 20px 0 rgba(0, 0, 0, 0.09), 0 45px 27px 0 rgba(0, 0, 0, 0.05),
      0 81px 32px 0 rgba(0, 0, 0, 0.01), 0 126px 35px 0 rgba(0, 0, 0, 0);

    & i {
      color: var(--yellow-color);
    }

    @media screen and (min-width: 768px) {
      top: 70%;
      width: 170px;
      font-size: 14px;
    }
  }
}

.hero-content-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--pink-color);
  padding: 10px 16px;

  background-color: transparent;
  /* border: 1px solid #eee; */
  border-radius: 100px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.07), 0 34px 75px 0 rgba(0, 0, 0, 0.07),
    0 137px 137px 0 rgba(0, 0, 0, 0.06), 0 308px 185px 0 rgba(0, 0, 0, 0.04),
    0 548px 219px 0 rgba(0, 0, 0, 0.01), 0 856px 240px 0 rgba(0, 0, 0, 0);

  max-width: 224px;
  margin: 0 auto;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 43px;
  }

  @media screen and (min-width: 1170px) {
    margin: 0 0 43px 0;
  }
}

.hero-content-title {
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 24px;

  & span {
    color: var(--pink-color);
  }

  @media screen and (min-width: 768px) {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 43px;

    font-size: 56px;
  }
}

.hero-content-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  opacity: 0.5;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 43px;

    font-size: 18px;
  }
}

.hero-content-btns {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (min-width: 1170px) {
    justify-content: flex-start;
  }
}

.hero-content-btn {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    padding: 16px 32px;
  }
}

.hero-content-video-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  border: 1px solid #eee;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  padding: 24px;
  transition: opacity 0.2s var(--h-effect);

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  & i {
    color: var(--purple-color);
    font-size: 20px;
  }

  @media screen and (min-width: 768px) {
    padding: 18px 33px;
  }
}

.hero-arrows {
  display: none;
  position: absolute;
  animation: moveUpDown 1.2s var(--h-effect) infinite alternate; /* Анімація знизу вгору */

  @media screen and (min-width: 768px) {
    display: block;
    bottom: -5%;
  }

  @media screen and (min-width: 1170px) {
    bottom: -15%;
  }

  @media screen and (min-width: 1350px) {
    left: -5%;
  }
}

@keyframes moveUpDown {
  from {
    transform: translateY(0); /* Початкове положення */
    filter: drop-shadow(0 4px 4px var(--orange-color));
  }
  to {
    transform: translateY(-20%); /* Кінцеве положення */
    filter: drop-shadow(0 0px 10px var(--orange-color));
  }
}
