.services {
  padding-top: 50px;
  position: relative;
  overflow: hidden;
}

.services-container {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 50px 16px 250px;
}

.services-list-container.swiper {
  @media screen and (min-width: 1170px) {
    position: absolute;
    top: 0;
    right: -10%;
    width: 80%;
  }
}

.services-list.swiper-wrapper {
  padding-bottom: 100px;
}

.services-item.swiper-slide-active {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 41px 89px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s var(--h-effect);
}

.services-top {
  @media screen and (min-width: 1170px) {
    width: 30%;
    /* padding: 70px 0; */
  }
}

.services-item {
  width: 100%;
  border: 1px solid rgba(25, 24, 37, 0.1);
  border-radius: 32px;
  padding: 32px;

  @media screen and (min-width: 768px) {
    padding: 65px 65px 32px 65px;
  }

  @media screen and (min-width: 1170px) {
    padding: 65px 55px 98px 55px;
  }
}

.services-item-img {
  width: 64px;
  height: 64px;

  margin: 0 auto;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
}

.services-tag {
  @media screen and (min-width: 1170px) {
    text-align: left;
  }
}

.services-title {
  @media screen and (min-width: 1170px) {
    text-align: left;
  }
}

.services-item-title {
  font-size: 22px;
  line-height: 1.2;
  text-align: center;

  margin-bottom: 32px;
}

.services-item-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  opacity: 0.5;
}
